
.list-item {
	@include displayFlex();
	margin: 50px 0;
	.item {
		@include calc(width, '33.3% - 60px');
		padding: 0 30px;
		.inner-item {
			background-color: $white;
			border: 1px solid #d2d2d2;
			@include boxshadow();
		}
		.contentItemTop {
			height: 200px;
			position: relative;
			overflow: hidden;
			.image {
				position: relative;
				&:before {
					content:"";
					width: 100%;
					height:100%;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba(130, 123, 123, 0.58);
				}
			}
			.date-item {
				position: absolute;
				top: 20px;
				right: 20px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: $color_primary;
				color: $white;
				text-transform:uppercase;
				display: inline-block;
				text-align: center;
				font-size: 10px;
				line-height: 1.3em;
				span.date {
					font-size: 16px;
					font-weight: bold;
					padding-top: 12px;
					display: inline-block;
				}
			}
			.categoryItem {
				position: absolute;
				bottom: 0;
				left:0;
				padding: 5px 15px;
				display: inline-block;
				text-transform: uppercase;
				color: $white;
				font-size: 12px;
				text-align: center;
				background-color: $color_primary;
			}
		}
		.contentItemBottom {
			padding: 30px;
			h3 {
				margin: 0 0 20px 0;
				a {
					color: $text_color;	
					text-decoration:none;
					&:hover {
						color: $color_primary;
					}
				}
			} 
			h4 {
				color: $color_primary;
				margin:0;
				font-weight: normal;
			}
			.hits_and_comments {
				color: #888;
				font-size: 14px; 
				span.hits {
					margin-right: 20px;				
				}
			}			
		}
	}
}