@font-face {
  font-family: 'ProximaNovaSoft-Regular';
  src: url("../fonts/ProximaNovaSoft-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSoft-Regular.otf") format("opentype"), url("../fonts/ProximaNovaSoft-Regular.woff") format("woff"), url("../fonts/ProximaNovaSoft-Regular.ttf") format("truetype"), url("../fonts/ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "ProximaNovaSoft-Regular", sans-serif;
  background: #f1f1f1;
  font-size: 16px;
  line-height: 1.7em;
  color: #000; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

img {
  width: 100%; }

h3 {
  font-size: 27px;
  font-weight: bold; }

h4 {
  font-size: 24px;
  font-weight: bold; }

header h1 {
  text-align: center; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0; }
  .list-item .item {
    width: calc(33.3% - 60px);
    padding: 0 30px; }
    .list-item .item .inner-item {
      background-color: #fff;
      border: 1px solid #d2d2d2;
      -webkit-box-shadow: -1px 1px 12px 4px rgba(204, 204, 204, 0.81);
      box-shadow: -1px 1px 12px 4px rgba(204, 204, 204, 0.81); }
    .list-item .item .content-item-top {
      height: 200px;
      position: relative;
      overflow: hidden; }
      .list-item .item .content-item-top .image {
        position: relative; }
        .list-item .item .content-item-top .image:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(130, 123, 123, 0.58); }
      .list-item .item .content-item-top .date-item {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e54e42;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        line-height: 1.3em; }
        .list-item .item .content-item-top .date-item span.date {
          font-size: 16px;
          font-weight: bold;
          padding-top: 12px;
          display: inline-block; }
      .list-item .item .content-item-top .category-item {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 15px;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        text-align: center;
        background-color: #e54e42; }
    .list-item .item .content-item-bottom {
      padding: 30px; }
      .list-item .item .content-item-bottom h3 {
        margin: 0 0 20px 0; }
        .list-item .item .content-item-bottom h3 a {
          color: #000;
          text-decoration: none; }
          .list-item .item .content-item-bottom h3 a:hover {
            color: #e54e42; }
      .list-item .item .content-item-bottom h4 {
        color: #e54e42;
        margin: 0;
        font-weight: normal; }
      .list-item .item .content-item-bottom .hits-and-comments {
        color: #888;
        font-size: 14px; }
        .list-item .item .content-item-bottom .hits-and-comments span.hits {
          margin-right: 20px; }

@media (max-width: 1199px) {
  .container {
    width: 930px; }

  .list-item .item {
    width: calc(33.3% - 30px);
    padding: 0 15px; }
    .list-item .item .content-item-top {
      height: 190px; }
    .list-item .item .content-item-bottom h4 {
      font-size: 21px; } }
@media (max-width: 979px) {
  .container {
    width: 750px; }

  .list-item .item {
    width: calc(50% - 60px);
    padding: 0 30px;
    margin-bottom: 60px; } }
@media (max-width: 767px) {
  .container {
    width: 100%; }

  .list-item .item {
    width: calc(100% - 60px);
    margin-bottom: 60px; } }

/*# sourceMappingURL=main.css.map */