body {
	font-family: $font_primary;
	background: #f1f1f1;
	font-size: 16px;
	line-height: 1.7em;
	color: $text_color;  
}
.container { 
	width: 1170px;
	margin: 0 auto;
	@include breakpoint(large) {
		width: 930px;
	}
	@include breakpoint(medium) {
		width: 750px;
	}
	@include breakpoint(small) {
		width: 100%;

	}
}
img {
	width: 100%;
}
header h1 {
	text-align: center; 
}