
@font-face {
	font-family: 'ProximaNovaSoft-Regular';
	src: url('../fonts/ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/ProximaNovaSoft-Regular.otf')  format('opentype'),
	url('../fonts/ProximaNovaSoft-Regular.woff') format('woff'), 
	url('../fonts/ProximaNovaSoft-Regular.ttf')  format('truetype'), 
	url('../fonts/ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg');
	font-weight: normal;
	font-style: normal;	
}