//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {
	.container {
		width: 100%;

	}
	.list-item .item {
		@include calc(width, '100% - 60px'); 
		margin-bottom: 60px;
	}
}




